html {
    scroll-behavior: smooth;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

#bc-secondary, #bc-last {
    display: none;
}

#breadcrumbs {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

.bell-counter {
    position: absolute;
    top: 14px;
    right: 10px;
    padding: 0 2px;
    border-radius: 50%;
    background: white;
    color: #0051bf;
    font-size: 10px;
    font-family: "Roboto";
}