body{
    background-color: #dddddd;
}
.bg-light {
    background-color: #dddddd !important;
}

.survey-image {
    margin: auto 15px;
    position: relative;
    display: inline-block;
}

.survey-image img {
    margin: 0 !important;
}

.survey-count {
    position: absolute;
    top: 0px;
    right: -10px;
    padding: 3px 7px;
    border-radius: 50%;
    background-color: #0051bf;
    color: white;
    font-size: 12px;
    font-family: "Roboto";
}

.custom-col-sm-4.col-sm-4 {
    background-color: #fff;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #dddddd;
}

.custom-col-sm-4.col-sm-4 h4 {
    margin: 10px 0;
    color: #0051bf; 
    font-family: 'Roboto';
    font-weight: 500;
}
.custom-col-sm-4.col-sm-4 p {
    font-size: 14px;
    margin: 0 0 5px 0;
    color: #363c3f;
    font-family: 'Roboto';
    font-weight: 500;
}
.result-col-sm-4.col-sm-4 p {
    margin: 0 0 -15px 0;
}

.custom-col-sm-4.col-sm-4 a {
    font-size: 13px;
    margin: 0;
    color: #0051bf;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
}
.custom-col-sm-4.col-sm-4 button {
    font-size: 13px;
    padding: 3px 5px;
    margin-right: 7px;
    color: #0051bf;
    background-color: #e4f1fd;
    border: none;
    outline:none;
    font-family: 'Roboto';
    font-weight: 400;
}

.custom-col-sm-4.col-sm-4 ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #363c3f;
    font-family: 'Roboto';
    font-weight: 400;
}

.custom-col-sm-4.col-sm-4 ul li {
    list-style-type: none;
}

.custom-card-img-top.card-img-top {
    max-width: 50px;
    max-height: 50px;
    margin: auto 15px;
}

.result-card-img-top.card-img-top {
    max-width: 50px;
    max-height: 50px;
    margin: auto 15px;
}

.card-img-reminder {
    max-width: 15px;
    margin: 5px;
}

.card-text {
    flex: 1;
}

.expand-arrow {
    width: 10px;
    height: 10px;
    right: 0;
    position: absolute;
    margin: 5px 8px;
}
/*heart*/

.heartbox {
    position: relative;
    float: right;
}

.heartbox label {
    margin: 0;
}

svg {
    cursor: pointer;
    overflow: visible;
    width: 15px;
    margin: 0px
}

svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards
}

svg #main-circ {
    transform-origin: 29.5px 29.5px
}

.checkbox {
    display: none
}

.checkbox:checked+label svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    animation: animateHeart .3s linear forwards .25s
}

.checkbox:checked+label svg #main-circ {
    transition: all 2s;
    animation: animateCircle .3s linear forwards;
    opacity: 1
}

.checkbox:checked+label svg #heartgroup1 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup1 #heart1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup1 #heart2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup2 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup2 #heart1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup2 #heart2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup3 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup3 #heart1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup3 #heart2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup4 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup4 #heart1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup4 #heart2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup5 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup5 #heart1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup5 #heart2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup6 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup6 #heart1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup6 #heart2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup7 {
    opacity: 1;
    transition: .1s all .3s
}

.checkbox:checked+label svg #heartgroup7 #heart1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s
}

.checkbox:checked+label svg #heartgroup7 #heart2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s
}

.checkbox:checked+label svg #heartgroup2 {
    opacity: 1;
    transition: .1s opacity .3s
}

.checkbox:checked+label svg #heartgroup3 {
    opacity: 1;
    transition: .1s opacity .3s
}

.checkbox:checked+label svg #heartgroup4 {
    opacity: 1;
    transition: .1s opacity .3s
}

.checkbox:checked+label svg #heartgroup5 {
    opacity: 1;
    transition: .1s opacity .3s
}

.checkbox:checked+label svg #heartgroup6 {
    opacity: 1;
    transition: .1s opacity .3s
}

.checkbox:checked+label svg #heartgroup7 {
    opacity: 1;
    transition: .1s opacity .3s
}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688
    }

    55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF
    }

    65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5
    }

    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .5
    }

    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .2
    }

    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: .1
    }

    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2)
    }

    40% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.4)
    }

    100% {
        transform: scale(1)
    }
}

.showCardContent.mb-0 {
    border-bottom: 0;
}

.showCardContent {
    position: relative;
}

.cardContent {
    display: none;
    border-top: 0;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.cardContent .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.cardContent .card-body .row {
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 -8px;
    margin-bottom: 7px;
}

.cardContent .med-alert-info .row {
    height: 65px;
}

.cardContent .card-body .icon {
    cursor: pointer;
    background-color: rgb(250, 216, 215);
    text-align: center;
    color: rgb(198, 125, 125);
    font-size: 22px;
    padding: 0;
    position: relative;
}

.cardContent .med-alert-info .alert {
    padding: 0;
    margin: 0;
}

.cardContent .med-alert-info .alert .blue-alert {
    border-radius: 5px;
    color: #ffffff;
    margin: 17px 0 0 5px;
    text-align: center;
    padding-bottom: 4px;
}

.cardContent .card-body:nth-of-type(even) .icon {
    background-color: rgb(235, 222, 249);
    color: rgb(163, 104, 227);
}

.cardContent .card-body .icon span {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}

.cardContent .card-body .info {
    padding-right: 0;
    margin: 7px 0;
}

.cardContent .card-body .info p {
    font-size: 12px;
    margin-bottom: 0;
}

.cardContent .med-alert-info .info p {
    margin-top: 10px;
}

.cardContent .card-body .action {
    position: relative;
    padding-right: 0;
    margin-bottom: 0;
}

.cardContent .card-body .action .align-center {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.cardContent .med-alert-info .action .align-center {
    top: 34%;
}

.cardContent .card-body .action span {
    float: right;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.cardContent .med-alert-info .action span p {
    font-size: 13px;
    margin: 5px 0 0 7px
}

.cardContent .card-body .action span.alert-me, 
.cardContent .card-body .action span.checkAll {
    background: #ffffff url(../images/schedule/selected-disabled.svg) no-repeat;
    background-size: 100%;
}

.cardContent .card-body .action span.notify, 
.cardContent .card-body .action span.notifyAll {
    background: #ffffff url(../images/schedule/snooze-disabled.svg) no-repeat;
    background-size: 100%;
}

.cardContent .card-body .action span.alert-me.active, 
.cardContent .card-body .action span.checkAll.active {
    background: #ffffff url(../images/schedule/all-selected.svg) no-repeat;
    background-size: 100%;
}

.cardContent .card-body .action span.notify.active, 
.cardContent .card-body .action span.notifyAll.active {
    background: #ffffff url(../images/schedule/snooze-selected.svg) no-repeat;
    background-size: 100%;
}