.calendar {
    background-color: #ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calendar .carousel-item ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.calendar .carousel-item ul li {
    display: inline-block;
    width: 18.6%;
    text-align: center;
    padding: 5px 0;
}

.calendar .carousel-item ul li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.calendar .carousel-item ul li.active {
    background-color: #eeeeee;
    cursor: pointer;
}

.calendar .carousel-item ul li span {
    display: block;
}

.calendar .carousel-item ul li span + span {
    font-size: 12px;
}

.calendar .slide-control::before, 
.calendar .slide-control::after{
    display: inline-block;
    color: #6c757d;
    font-size: 24px;
}

.calendar .carousel-control-prev {
    background: #ffffff url(../images/schedule/calendar-previous.svg) no-repeat  0 15px;
    background-size: 13px;
    width: 20px;
    opacity: 1;
}

.calendar .carousel-control-next {
    background: #ffffff url(../images/schedule/calendar-next.svg) no-repeat  0 15px;
    background-size: 13px;
    width: 20px;
    opacity: 1;
}

.schAccordion {
    display: none;
    margin-bottom: 55px;
}

.schAccordion[data-subscription="first-june"] {
    display: block;
}

.schAccordion .card {
    margin-top: 10px;
    border-radius: 0;
}

.schAccordion .card .card-header {
    border: 0;
    background-color: #ffffff;
}

.schAccordion .card .card-header,
.schAccordion .card .card-header h5 {
    padding: 0;
}

.schAccordion .card-header button {
    font-weight: 500;
    text-decoration: none;
    border: 0;
    padding: .75rem 1.25rem;
    width: 100%;
    text-align: left;
    background: #ffffff url(../images/schedule/accordian-expand.svg) no-repeat 95% 20px;
    background-size: 20px;
}

.schAccordion .card-header button.collapsed {
    background: #ffffff url(../images/schedule/accordian-collapse.svg) no-repeat 95% 20px;
    background-size: 20px;
}

/* .schAccordion .card-header button::after {
    content: "V";
    font-size: 20px;
    color: #ccc;
    float: right;
} */

.schAccordion .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.schAccordion .card-body .row {
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 -8px;
    margin-bottom: 7px;
}

.schAccordion .card-body .icon {
    cursor: pointer;
    background-color: rgb(250, 216, 215);
    text-align: center;
    color: rgb(198, 125, 125);
    font-size: 22px;
    padding: 0;
    position: relative;
}

.schAccordion .card-body:nth-of-type(even) .icon {
    background-color: rgb(235, 222, 249);
    color: rgb(163, 104, 227);
}

.schAccordion .card-body .icon span {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}

.schAccordion .card-body .info {
    padding-right: 0;
    margin: 7px 0; 
}

.schAccordion .card-body .info p {
    font-size: 12px;
    margin-bottom: 0;
}

.schAccordion .card-body .action.select-all {
    padding-bottom: 20px;
}

.schAccordion .card-body .action.select-all span.notifyAll {
    margin-right: 10px;
}

.schAccordion .card-body .action.select-all span p {
    font-size: 12px;
    margin: 5px 0  0 7px;
}

.schAccordion .card-body .action {
    position: relative;
    padding-right: 0;
}

.schAccordion .card-body .action .align-center {
    position: absolute;
    left: 40%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.schAccordion .card-body .action span {
    float: right;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.schAccordion .card-body .action span.alert-me, 
.schAccordion .card-body .action span.checkAll {
    background: #ffffff url(../images/schedule/selected-disabled.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.notify, 
.schAccordion .card-body .action span.notifyAll {
    background: #ffffff url(../images/schedule/snooze-disabled.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.alert-me.active, 
.schAccordion .card-body .action span.checkAll.active {
    background: #ffffff url(../images/schedule/all-selected.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.notify.active, 
.schAccordion .card-body .action span.notifyAll.active {
    background: #ffffff url(../images/schedule/snooze-selected.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.edit {
    background: #ffffff url(../images/schedule/edit.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.delete {
    background: #ffffff url(../images/schedule/delete.svg) no-repeat;
    background-size: 100%;
}

#toggelSchMed, 
#toggelSchMed .btn-group {
    left: 0;
    bottom: 0;
    width: 100%;
}

#toggelSchMed .btn-group label {
    width: 50%;
    border: 0;
    border-radius: 0;
    color: #555555;
}

#toggelSchMed .btn-group label.active {
    border-top: 5px solid #007bff;
}

#toggelSchMed .btn-group label:focus {
    outline: 0;
    border-top: 5px solid #007bff;
    box-shadow: none;
}

#toggelSchMed .btn-group label.focus, 
#allMedicationOne .btn-link.focus,
#allMedicationOne .btn-link:focus,
#scheduleWrap .btn-link.focus, 
#scheduleWrap .btn-link:focus {
    box-shadow: none;
}

#toggelSchMed .btn-group label.schedule {
    background: #ffffff url(../images/schedule/bottom-tab-calendar.svg) no-repeat 25px 8px;
    background-size: 20px;
}

#toggelSchMed .btn-group label.medication {
    background: #ffffff url(../images/schedule/bottom-tab-myMedication.svg) no-repeat 25px 10px;
    background-size: 20px;
}
