.calendar {
    background-color: #ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calendar .carousel-item ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.calendar .carousel-item ul li {
    display: inline-block;
    width: 18.6%;
    text-align: center;
    padding: 5px 0;
}

.calendar .carousel-item ul li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.calendar .carousel-item ul li.active {
    background-color: #eeeeee;
    cursor: pointer;
}

.calendar .carousel-item ul li span {
    display: block;
}

.calendar .carousel-item ul li span + span {
    font-size: 12px;
}

.calendar .slide-control::before, 
.calendar .slide-control::after{
    display: inline-block;
    color: #6c757d;
    font-size: 24px;
}

.calendar .carousel-control-prev {
    background: #ffffff url(../images/schedule/calendar-previous.svg) no-repeat  0 15px;
    background-size: 13px;
    width: 20px;
    opacity: 1;
}

.calendar .carousel-control-next {
    background: #ffffff url(../images/schedule/calendar-next.svg) no-repeat  0 15px;
    background-size: 13px;
    width: 20px;
    opacity: 1;
}

.schAccordion {
    margin-bottom: 55px;
}

.schAccordion[data-subscription="first-june"] {
    display: block;
}

.schAccordion .card {
    margin-top: 10px;
    border-radius: 0;
}

.schAccordion .card .card-header {
    border: 0;
    background-color: #ffffff;
}

.schAccordion .card .card-header,
.schAccordion .card .card-header h5 {
    padding: 0;
}

.schAccordion .card-header button {
    font-weight: 500;
    text-decoration: none;
    border: 0;
    padding: .5rem .75rem 0;
    width: 100%;
    text-align: left;
    background: #ffffff url(../images/schedule/accordian-expand.svg) no-repeat 95% 20px;
    background-size: 20px;
}

.schAccordion .card-header button.collapsed {
    background: #ffffff url(../images/schedule/accordian-collapse.svg) no-repeat 95% 20px;
    background-size: 20px;
    padding-bottom: .5rem ;
}

.schAccordion .card-header + div.collapse {
    padding-bottom: 15px;
}

#MedicationWrap .schAccordion .card-header button {
    padding-bottom: .5rem ;
}

/* .schAccordion .card-header button::after {
    content: "V";
    font-size: 20px;
    color: #ccc;
    float: right;
} */

.schAccordion .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.schAccordion .card-body .row {
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 -8px;
    margin-bottom: 5px;
}

.schAccordion .card-body .icon {
    cursor: pointer;
    background-color: rgb(250, 216, 215);
    text-align: center;
    color: rgb(198, 125, 125);
    font-size: 22px;
    padding: 0;
    position: relative;
}

.schAccordion .card-body:nth-of-type(even) .icon {
    background-color: rgb(235, 222, 249);
    color: rgb(163, 104, 227);
}

.schAccordion .card-body .icon span {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}

.schAccordion .card-body .info {
    padding-right: 0;
    margin: 7px 0; 
}

.schAccordion .card-body .info p {
    font-size: 12px;
    margin-bottom: 0;
}

.schAccordion .card-body .action.select-all {
    padding-bottom: 20px;
}

.schAccordion .card-body .action.select-all span.notifyAll {
    margin-right: 10px;
}

.schAccordion .card-body .action.select-all span p {
    font-size: 12px;
    margin: 5px 0  0 7px;
}

.schAccordion .card-body .action {
    position: relative;
    padding-right: 0;
}

.schAccordion .card-body .action .align-center {
    position: absolute;
    left: 40%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.schAccordion .card-body .action span {
    float: right;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.schAccordion .card-body .action span.alert-me, 
.schAccordion .card-body .action span.checkAll {
    background: #ffffff url(../images/schedule/selected-disabled.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.notify, 
.schAccordion .card-body .action span.notifyAll {
    background: #ffffff url(../images/schedule/snooze-disabled.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.alert-me.active, 
.schAccordion .card-body .action span.checkAll.active {
    background: #ffffff url(../images/schedule/all-selected.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.notify.active, 
.schAccordion .card-body .action span.notifyAll.active {
    background: #ffffff url(../images/schedule/snooze-selected.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.edit {
    background: #ffffff url(../images/schedule/edit.svg) no-repeat;
    background-size: 100%;
}

.schAccordion .card-body .action span.medication-delete {
    background: #ffffff url(../images/schedule/delete.svg) no-repeat;
    background-size: 100%;
}

#toggelSchMed, 
#toggelSchMed .btn-group {
    left: 0;
    bottom: 0;
    width: 100%;
}

#toggelSchMed .btn-group label {
    width: 50%;
    border: 0;
    border-radius: 0;
    color: #555555;
}

#toggelSchMed .btn-group label.active {
    border-top: 5px solid #007bff;
}

#toggelSchMed .btn-group label:focus {
    outline: 0;
    border-top: 5px solid #007bff;
    box-shadow: none;
}

#toggelSchMed .btn-group label.focus, 
#allMedicationOne .btn-link.focus,
#allMedicationOne .btn-link:focus,
#scheduleWrap .btn-link.focus, 
#scheduleWrap .btn-link:focus {
    box-shadow: none;
}

#toggelSchMed .btn-group label.schedule {
    background: #ffffff url(../images/schedule/bottom-tab-calendar.svg) no-repeat 25px 8px;
    background-size: 20px;
}

#toggelSchMed .btn-group label.medication {
    background: #ffffff url(../images/schedule/bottom-tab-myMedication.svg) no-repeat 14px 10px;
    background-size: 20px;
}

form.add-medication {
    width: 100%;
}

form.add-medication .form-control {
    font-size: 14px;
}

/* The custom checkbox */
.customColorSel {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customColorSel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.customColorSel .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(210, 230, 255);
    border-radius: 3px;
    border: 0;
}

/* On mouse-over, add a color background color */
.customColorSel:hover input ~ .checkmark {
    background-color: rgb(210, 230, 255);
}

/* When the checkbox is checked, add a blue background */
.customColorSel input:checked ~ .checkmark {
    /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.customColorSel .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customColorSel input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customColorSel .checkmark:after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 13px;
    border: solid rgb(0, 112, 249);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Different colors */
.customColorSel.cyanColor .checkmark {
    background-color: rgb(182, 255, 253);
}

/* On mouse-over, add a color background color */
.customColorSel.cyanColor:hover input ~ .checkmark {
    background-color: rgb(182, 255, 253);
}

.customColorSel.cyanColor .checkmark:after {
    border: solid rgb(0, 204, 199);
    border-width: 0 3px 3px 0;
}

.customColorSel.lightGreenColor .checkmark {
    background-color: rgb(209, 239, 180);
}

/* On mouse-over, add a color background color */
.customColorSel.lightGreenColor:hover input ~ .checkmark {
    background-color: rgb(209, 239, 180);
}

.customColorSel.lightGreenColor .checkmark:after {
    border: solid rgb(115, 189, 40);
    border-width: 0 3px 3px 0;
}

.customColorSel.lightCreamColor .checkmark {
    background-color: rgb(255, 204, 204);
}

/* On mouse-over, add a color background color */
.customColorSel.lightCreamColor:hover input ~ .checkmark {
    background-color: rgb(255, 204, 204);
}

.customColorSel.lightCreamColor .checkmark:after {
    border: solid rgb(255, 134, 134);
    border-width: 0 3px 3px 0;
}

/* Medicin Shape Checkbox */
.customColorSel.medicineType {
    padding-left: 55px;
}

.customColorSel.medicineType .checkmark {
    background-size: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 5px;
    width: 40px;
    height: 40px;
    border: 0;
}

.customColorSel.medicineType.medicine-shape1 {
    padding-left: 65px;
}

.customColorSel.medicineType.medicine-shape1 .checkmark {
    padding-top: 5px;
    width: 50px;
}

.customColorSel.medicineType:last-of-type {
    padding-left: 40px;
}

.customColorSel.medicineType.medicine-shape2 .checkmark, 
.customColorSel.medicineType.medicine-shape3 .checkmark, 
.customColorSel.medicineType.medicine-shape4 .checkmark, 
.customColorSel.medicineType.medicine-shape5 .checkmark {
    background-size: 30px;
}

.customColorSel.medicineType.medicine-shape1 .checkmark {
    background-image: url(../images/schedule/medicine-shape1.svg);

}

.customColorSel.medicineType.medicine-shape2 .checkmark {
    background-image: url(../images/schedule/medicine-shape2.svg);
}

.customColorSel.medicineType.medicine-shape3 .checkmark {
    background-image: url(../images/schedule/medicine-shape3.svg);
}

.customColorSel.medicineType.medicine-shape4 .checkmark {
    background-image: url(../images/schedule/medicine-shape4.svg);
}

.customColorSel.medicineType.medicine-shape5 .checkmark {
    background-image: url(../images/schedule/medicine-shape5.svg);
}

/* Different colors */
.customColorSel.medicineType .checkmark {
    background-color: #ffffff;
}

/* On mouse-over, add a color background color */
.customColorSel.medicineType:hover input ~ .checkmark {
    background-color: #ffffff;
}

.customColorSel.medicineType input:checked ~ .checkmark {
    background-color: #eeeeee;
}

.customColorSel.medicineType .checkmark:after {
    background-color: transparent;
    border: 0;
}

form.add-medication button[type="submit"] {
    border-radius: 0;
}
