#side-drawer {
    height: 100vh;
    width: 336px;
    top: 0;
    left: -336px;
    z-index: 1032;
    /*z-index of standard bootstrap navbar is 1030 + 1 offset due to side-drawer-void*/
    transition: left 0.25s ease;
}

#side-drawer-void {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1031;
    /*z-index of standard bootstrap navbar is 1030*/
    background: rgba(0, 0, 0, .6);
}

.side-drawer-container.bg-dark {
    background-color: #0051BF!important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('../images/hamburger.svg');
}

.navbar-header.bg-primary {
    background-color: #0051BF!important;
}

.navbar-toggler {
    padding: .25rem 0rem;
    border: none;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.list-group-item.active, button.medication-btn.active,
button.diagnostic-btn.active {
    background-color: #E4F1FD;
    color: #363C3F;
}

#links > a {
    padding-left: 50px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #363C3F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

div#other-links a {
    padding-left: 25px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #363C3F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#links a .fa {
    margin-right: 10px;
}

#other-links a .fa {
    margin-right: 15px;
}

.hr-divider {
    border: 1px solid #E4E4E4;
    margin: 20px 25px;
}

.col-9.user-info {
    text-align: center;
}

.user-email {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.user-name {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

a.logout {
    position: absolute;
    bottom: 0;
    left: -12px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar-right i.fa.fa-comments {
    font-size: 20px;
    margin-right: 25px;
}

i.fa.fa-bell-o {
    font-size: 20px;
}

button.medication-btn, button.diagnostic-btn {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #363C3F;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding: 10px 8px 10px 34px;
}

#medication-links a, #diagnostic-links a {
    padding-left: 90px;
}

.dropdown-container {
    display: none;
}

.medication-btn.active + .dropdown-container a, .diagnostic-btn.active + .dropdown-container a {
    background-color: #E4F1FD;
}

#medication-links > a, #diagnostic-links > a {
    font-size: 14px;
    color: #363C3F;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 0px;
    text-decoration: none;
}

button.medication-btn.active, button.diagnostic-btn.active {
    background-color: #E4F1FD;
}

button.medication-btn i.fa.fa-caret-down, button.diagnostic-btn i.fa.fa-caret-down {
    margin-right: 10px;
    font-size: 12px;
}

.survey-icon, .diagnostic-icon, .vitals-icon, .medication-icon
 {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.home-icon, .helpline-icon, .favorites-icon,
.resources-icon, .profile-icon {
     height: 30px;
    width: 30px;
    margin-right: 10px;
}
.logout-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.user-profile-icon {
    height: 50px;
    width: 50px;
}

a.list-group-item {
    display: flex;
    align-items: center;
}
