.survey-card-img-top {
    max-width: 35px;
    max-height: 35px;
    margin: 10px;
}

.survey-col-sm-4 {
    background-color: #fff;
    display: flex;
    border: 1px solid #ffffff;
    padding: 5px;
}

.survey-col-sm-4 h4 {
    color: #0051bf; 
    font-family: 'Roboto';
    font-weight: 500;
}

.survey-col-sm-4 p {
    color: #363c3f; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}

.display-block {
    display: block;
}

.survey-btn-group {
    width: 100%;
}

.survey-btn-group .btn {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.survey-btn-group .btn-cancel {
    padding-left: 0;
    width: 25%;
    text-align: left;
    color: #0051BF;
}

.survey-btn-group .btn-next {
    background-color: #0051BF;
    border-radius: 0;
    width: 75%;
}

.survey-q-2 {
    display: none;
}

.progress-width-0 {
    width: 100% !important;
    background-color: #e9ecef;
}