.survey-card-img-top {
    max-width: 35px;
    max-height: 35px;
    margin: 10px;
}

.survey-col-sm-4 {
    background-color: #fff;
    display: flex;
    border: 1px solid #ffffff;
    padding: 10px 15px 0;
}

.survey-col-sm-4 h4 {
    color: #0051bf; 
    font-family: 'Roboto';
    font-weight: 500;
}

.survey-col-sm-4 p {
    color: #363c3f; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}

.display-block {
    display: block;
}

.survey-form-check.form-check {
    padding: .5rem;
}

.survey-form-check .form-check-label {
    margin-left: 10px;
} 

.form-check:last-child {
    padding-bottom: 1rem;
}

.survey-btn-group {
    width: 100%;
    padding: 20px 0;
}

.survey-btn-group .btn {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.survey-btn-group .btn-cancel {
    padding-left: 0;
    width: 20%;
    text-align: left;
    color: #0051BF;
    left: -16%;
}

.survey-btn-group .btn-next {
    background-color: #0051BF;
    border-radius: 0;
    width: 80%;
}

.survey-btn-group .btn-back {
    padding-left: 0;
    width: 20%;
    text-align: left;
    color: #0051BF;
    left: -16%;
}

.survey-btn-group .btn-submit {
    background-color: #0051BF;
    border-radius: 0;
    width: 80%;
}

.survey-q-2 {
    display: none;
}

.survey-outline {
    outline: 1px solid #dddddd;
    outline-offset: -12px;
    padding: 20px;
}
.progress-width-0 {
    width: 100% !important;
    background-color: #e9ecef;
}

.status-text {
    color: #8e8e8e !important;
    font-size:12px !important;
    margin-bottom: 0;
}