.view-vitals {
    background-color: #fff;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.view-vitals-calendar {
	margin: 10px;
}

.view-vitals-calendar input#datepicker {
	padding: 10px;
    margin: 20px 0 0;
	width: 100%;
	border: 1px solid #efefef;
	background: url(../images/Diagnostics/calendar.svg) no-repeat 95% 10px;
    background-size: 25px;
    font-size: 13px;
    font-family: "Roboto";
}

#gridTableVitals, #graphTableVitals {
	border: none;
}

#graphTableVitals thead th, #gridTableVitals thead th {
	border-bottom: 1px solid #ffffff;
}

#graphTableVitals tbody tr, #gridTableVitals tbody tr {
	height: 30px;
}

#graphTableVitals th, #graphTableVitals td, #gridTableVitals th, #gridTableVitals td {
	font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    color: #363c3f;
}

#graphTableVitals.table-striped tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
}

#graphTableVitals.table-striped tbody tr:nth-of-type(even) {
	background-color: #efefef;
}

#graphTableVitals.dataTable thead .sorting_asc, #gridTableVitals.dataTable thead .sorting_asc {
	background: url(../images/sort-up.svg) no-repeat 95% 17px;
    background-size: 10px;
}

#graphTableVitals.dataTable thead .sorting_desc, #gridTableVitals.dataTable thead .sorting_desc {
	background: url(../images/sort-down.svg) no-repeat 95% 17px;
    background-size: 10px;
}

#graphTableVitals.dataTable thead .sorting, #gridTableVitals.dataTable thead .sorting {
	background: url(../images/sort.svg) no-repeat 95% 13px;
    background-size: 10px;
}

#toggleVitals, 
#toggleVitals .btn-group {
    left: 0;
    bottom: 0;
    width: 100%;
}

#toggleVitals .btn-group label {
    border: 0;
    border-radius: 0;
    color: #555555;
}

#toggleVitals .btn-group label.active {
    border-top: 3px solid #0051bf;
}

#toggleVitals .btn-group label:focus {
    outline: 0;
    border-top: 3px solid #0051bf;
    box-shadow: none;
}

#toggleVitals .btn-group label.focus {
    box-shadow: none;
}

#toggleVitals .btn-group label.v-vitals {
    background: #ffffff url(../images/vitals/vital-tab.svg) no-repeat 12px 8px;
    background-size: 20px;
}

#toggleVitals .btn-group label.v-ancillary {
    background: #ffffff url(../images/vitals/ancillary-tab.svg) no-repeat 10px 8px;
    background-size: 20px;
}

#toggleVitals .btn-group label.v-view {
    background: #ffffff url(../images/vitals/view-tab.svg) no-repeat 10px 10px;
    background-size: 20px;
}
/* vitals page styles */
.Vitals-form-container {
    margin-bottom: 60px;
}

.vitals-form-group img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.vitals-form-group label {
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.vitals-form-group .vitals-form-control {
    width: 60%;
    border: 1px solid #B8B8B8;
}

.vitals-btn-group {
    width: 100%;
}

.vitals-btn-group .btn {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.vitals-btn-group .btn-clear {
    padding-left: 0;
    width: 25%;
    text-align: left;
    color: #0051BF;
    text-decoration: none;
}

.vitals-btn-group .btn-save {
    background-color: #0051BF;
    border-radius: 0;
    width: 75%;
}

button:focus {
    box-shadow: none!important;
    outline: 0!important;
    text-decoration: none!important;
}